$primary-color: #D2AC47;
$auth-card-shadow: 0px 4px 70px 0px #0000001A;
$font: 'Rubik' sans-serif;
$secondary-color: #040404;
$button-color: #855424;
$auxilliary-color: #7b7c5f;
$dashboard-background: #A1967D24;
$Amount-background: #7c7c5c;