.complete-registrations {
    .ant-table-wrapper .ant-table-thead >tr>th {
        background-color: #DFBD69!important;
        color: #ffffff;
    }
}

.admin-dashboard{
    background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(8, 6, 0, 0.7)), url(../../assets/images/RWT_LOGO-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center center;
}