@import '../../../sass/variables';
@import '../../../sass/mixins';

.home, .about {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 120px;

        img {
            @include logo(50px, 50px)
        }

        .hamburger {
            display: none;
        }

        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }
        span {
            a {
                text-decoration: none;
                @include font(16px, 400, #3A3A3ABF);
            }

            a.active {
                color: #DDB05B;
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 123px;
            height: 45px !important;
            box-shadow: -4px 9px 30px rgba(221, 176, 91, 0.25);
            border-radius: 4px;
        }
    }
}

@media screen and (max-width:780px) {
    .home, .about {
        nav {
            padding: 10px 20px;
            a{
                text-decoration: none;
            }

            .hamburger {
                display: flex;
                z-index: 2;

                svg {
                    width: 34px;
                    height: 44px;
                    stroke: #292D32;
                }

            }

            .links{
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 1rem;
            }

            span:nth-of-type(2) {
                display: none;
            }
            span:nth-of-type(2).show{
                display: flex;
                position: absolute;
                top: 140px;
                left: 0;
                background-color: #FFFFFF;
                width: 100vw;
                height: 100vh;
                z-index: 1;

            }

            button.ant-btn {
                display: none;
            }
        }
    }
}