@import '../../../sass/variables';
@import '../../../sass/mixins';

@media screen and (max-width: 980px) {
.portfolio{
    margin-bottom: 30px;
    >h4{
        @include font(18px, 500, #3A3A3A);
        text-align: center;
        margin: 24px auto 20px;
    }

    .chart{
        >div{
            display: flex;
            justify-content: space-between;
            h2{
                @include font(1rem, 500, #3A3A3A)
            }
        }
    }

    .portfolio-downlines{
        margin-top: 43.5px;
    }
}
}